# БД
USE_POSTGRES=True
POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
DB_HOST=db
DB_PORT=5432

# Django
SECRET_KEY=according-to-all-known-laws-of-aviation-there-is-no-way-a-bee-should-be-able-to-fly
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,backend
